body {
	background-color:  hsl(212, 45%, 89%);
	min-height: 100vh;
	box-sizing: border-box;
	display: grid;
	place-items: center;
	margin:  0px;
	padding: 0px;
	font-family: Outfit, sans-serif;
}

div {
	display: flex;
	flex-direction: column;
	background-color: hsl(0, 0%, 100%);
	text-align: center;
	width: 300px;
	border-radius: 20px;
	padding: 15px;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

p {
	font-size: 15px;
	color:  hsl(220, 15%, 55%);
	padding: 0px 10px;
	font-weight: 400;
}

h2 {
	color: hsl(218, 44%, 22%);
	font-weight: 700;
}

img {
	border-radius: 10px;
	max-width: 100%;
}